# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# Environment
.env
.venv/
myenv/
ENV/

# MacOS
.DS_Store

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
*.pyc
*.pyo
*.pyd

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Files created by running the lesson examples
lessons/**/diary.txt
lessons/**/fruits.txt
lessons/**/sample.txt
lessons/**/notes.txt
lessons/**/demo.txt
lessons/**/copy.txt
lessons/**/marks.csv
lessons/**/students_demo.json

# Temporary files
*.tmp
*.swp
*.swo
